# Environment variables (Crucial for security)
.env

# Go binaries and build artifacts
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof

# IDE and Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Operating System files
.DS_Store
Thumbs.db

docs/
tmp/